@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

h1 {
    font-family: 'Blinker', sans-serif;
}

h2 {
    font-family: 'Blinker', sans-serif;
}

.background1{
    background: url("images/amplifier-analogue-audio-744318.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background2{
    background: url("images/audio-close-up-electronics-1389429.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background3{
    background: url("images/audio-dj-mix-63703.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.background4{
    background: url("images/background-bit-bytes-2004161.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centreText{
    text-align: center;
}