* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbarL {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 72px;
  left: 0px;
}

.navbarR {
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 71px;
  Right: 0px;
}

/* Style the links inside the navigation bar */
.navbarL a {
  font-family: 'blinker', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  font-size: 17px;
}
.navbarR a {
  font-family: 'blinker', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbarL a:hover {
  background-color: #ddd;
  color: black;
}

.navbarR a:hover {
  background-color: #ddd;
  color: black;
}

