* {
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.zeroMargin{
    margin: 0px;
}

.backgroundMap{
    background: url("images/map-manchester.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centreText{
    text-align: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;

}

.nav1{
    color: white;
    font-family: 'blinker', sans-serif; 
    width: 100%;
    font-size: 26px;
    text-align: center;

}